[core]
    editor = vim
[credential]
    helper = store
[user]
    name = ViniciusCruzMoura
    email = contato.cruz.moura@gmail.com
#[user]
#    email = vinicius.moura@grupocard.com.br
#    name = Vinicius Moura
[diff]
    tool = vimdiff
