[core]
    editor = vim
[credential]
    helper = store
[user]
    name = ViniciusCruzMoura
    email = contato.cruz.moura@gmail.com
#[user]
#    email = vinicius.moura@grupocard.com.br
#    name = Vinicius Moura
[diff]
    tool = vimdiff
[help]
    autocorrect = 1
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) (%cd) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all --date=format:'%Y-%m-%d %H:%M:%S' --since='2 week ago' --stat
